.form-container {
    margin: 20px auto;
}
.input-container {
    margin-top: 10px;
}
.label-container {
    width: 27%;
}
.label {
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.button-container {
    width: fit-content;
    margin: 0 auto;
    button {
        margin: 10px;
    }
}