<div class="card list-item">
  <div class="card-body">
    <h4 class="card-title title">{{name}}</h4>
    <p class="card-text contact">Contact No: 
      <a [href]="getOpenLink()" class="btn btn-sm btn-light" *ngIf="personalInfo.contact">{{getContact()}}</a>
      <span *ngIf="!personalInfo.contact">{{ getContact() }}</span>
    </p>
    <!-- <a [href]="'/detail/'+name" class="btn btn-primary">See Profile</a> -->
    <button class="btn btn-primary" (click)="navigateToDetail()">See Profile</button>
  </div>
</div>