.detail-card {
    margin-top: 20px;
}
.label {
    padding: .375rem .75rem;
    white-space: nowrap;
}
.no-wrap {
    white-space: nowrap;
}
.button-container {
    margin-top: 10px;
    button {
        margin: 10px;
    }
}